.form{
	width: 500px;
}

.field{
	padding: 10px;
	border: none;
}

.form input, textarea{
	width: 100%;
	padding: 10px;
}

.form label{
	font-size: 18px;
	font-family: 'monospace', sans-serif;
}

.form .campo{
	padding: 10px;
}

.botao{
	margin: auto;
	margin-left: 38%;
	padding: 10px;
	width: 100px;
	font-size: 20px;
	background-color: #748DFD;
}